<ul>
  {{#each todos}}
  <li style="display:flex; justify-content: space-evenly; align-item: center">
  <input type="checkbox" name="isDone" {{#if todo.isDone}}checked{{/if}} disabled>
  <div style="flex-basis: 20%">{{this.name}}</div> 
  <a href="./todos/{{ this._id }}" style="display: block;flex-basis: 20%; text-decoration:none">detail</a>
  <a href="./todos/{{ this._id }}/edit" style="display: block;flex-basis: 20%; text-decoration:none">edit</a>
  <form action="/todos/{{ this._id }}?_method=DELETE" method="POST"><button type="submit" style="flex-basis: 20%">delete</button></form>
  </li>
  {{/each}}
</ul>
<button style="width: 30%; margin:0 35%;"><a href="./todos/new" style="display: block; width: 100%; text-decoration:none; margin:0;padding:0">Create</a></button>
