<ul class="list-group">
  {{#each todos}}
  <li class="list-group-item">
    <div class="row align-items-center justify-content-between">
      <div class="col-auto mr-auto">
        <input class="align-middle" type="checkbox" name="isDone" {{#if todo.isDone}}checked{{/if}} disabled>
        <h4 style="display:inline-block;"class="align-middle">
          {{this.name}}
        </h4>
      </div>
      <div class="col-auto">
        <a class="btn btn-secondary align-middle" href="./todos/{{ this._id }}">detail</a>
        <a class="btn btn-success align-middle" href="./todos/{{ this._id }}/edit">edit</a>
        <form  action="/todos/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;"><button class="btn btn-danger align-middle"
            type="submit">delete</button></form>
      </div>
    </div>
  </li>
  {{/each}}
</ul>